DATABASE_URL="postgresql://pos_user:pos_password@localhost:5433/pos_ventas"

JWT_ACCESS_SECRET=cambiar_por_secreto_seguro
JWT_REFRESH_SECRET=cambiar_por_otro_secreto_seguro
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PORT=4000
NODE_ENV=development

FRONTEND_URL=http://localhost:3000
